module.exports.credentials = {
    RDS_HOSTNAME: "******",
    RDS_PORT: "******",
    RDS_DB_NAME: "******",
    RDS_USERNAME: "******",
    RDS_PASSWORD: "******",
    IAM_USER_KEY: "******",
    IAM_USER_SECRET: "******",
    BUCKET_NAME: "******"
};